@font-face {
    font-family: "KaushanScript-Regular";
    src: url("../fonts/kaushan-script-v7-latin-regular.woff") format("woff"),
    url("../fonts/kaushan-script-v7-latin-regular.woff2") format("woff2");
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoSlab-Regular";
    src: url("../fonts/RobotoSlab-Regular.woff") format("woff"),
    url("../fonts/Roboto-Slab-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "DroidSerif-Italic";
    src: url("../fonts/DroidSerif-Italic.woff") format("woff"),
    url("../fonts/DroidSerif-Italic.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Wisdom";
    src: url("../fonts/WisdomScript-AI.woff") format("woff"),
    url("../fonts/WisdomScript-AI.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}
