body {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 940px;
}


header {
  padding: 38px 0 100px 0;
}

nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-emblem {
  margin: 0;
  font-family: "Wisdom", Arial, sans-serif;
  color: #feda5b;
  font-size: 26px;
  line-height: 41px;
  font-weight: 100;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: space-between;
  width: 50%;
}

li {
  list-style: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 0;
  font-family: "Montserrat-Regular", Arial, sans-serif;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 100;
  color: #222222;
  font-weight: 600;
}

.navigation-link:hover {
  color: #feda5b;
}

section:first-of-type {
  padding-bottom: 120px;
}

.headline,
.headline-text,
.services-headline,
.services-text {
  text-align: center;
  margin: 0;
}

.headline {
  text-transform: uppercase;
  font-family: "Montserrat-Bold", Arial, sans-serif;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 8px;
}

.services-headline {
  color: #222222;
}

.headline-text {
  font-family: "DroidSerif-Italic", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.services-headline-text {
  color: #777777;
  margin-bottom: 70px;
}

.services-row {
  display: flex;
  justify-content: space-between;
}

.services-box {
  width: 30%;
  position: relative;

}

.services-box-basket::before {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  width: 74px;
  height: 74px;
  background: url('../img/icon/Icon-Basket.png');
  transform: translateX(37px);
}

.services-box-laptop::before {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  width: 74px;
  height: 74px;
  background: url('../img/icon/Icon-Laptop.png');
  transform: translateX(37px);
}

.services-box-locked::before {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  width: 74px;
  height: 74px;
  background: url('../img/icon/Icon-Locked.png');
  transform: translateX(37px);
}


.services-icon {
  margin-bottom: 14px;
}

.services-box-headline {
  position: relative;
  padding-top: 90px;
  margin: 0 0 8px 0;
  text-align: center;
  font-family: "Montserrat-Bold", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #222222;
}


.services-text {
  font-family: "RobotoSlab-Regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #777777;
  letter-spacing: -0.2px;
}

.black {
  padding: 86px 0 110px 0;
  background: url(../img/Map_Image.png) center center no-repeat;
  background-color: #222222;
}

.contacts-headline {
  color: #ffffff;
}

.contacts-headline-text {
  color: #777777;
  margin-bottom: 77px;
}


.form-1 {
  width: 455px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.text-style {
  width: 412px;
  padding: 19px 20px;
  margin: 0 0 26px 0;
  border: 1px solid #a4a4a4;
  border-radius: 3px;
  font-family: "Montserrat-Bold", Arial, sans-serif;
  font-size: 14px;
}

.text-style:last-child {
  margin-bottom: 0;
}

form [type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 20px 46px;
  background-color: #fed136;
  border: 1px solid #fed136;
  border-radius: 3px;
  font-family: "Montserrat-Bold", Arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}

textarea {
  display: block;
  padding: 18px 16px;
  border: 1px solid #a4a4a4;
  border-radius: 3px;
  text-decoration: none;
  width: 420px;
}

input::placeholder,
textarea::placeholder {
  text-transform: uppercase;
  font-family: "Montserrat-Bold", Arial, sans-serif;
  color: #bbbbbb;
  font-size: 14px;
}
 .inputs-required:valid{
  outline: 2px solid green;
}

.inputs-required:not(:placeholder-shown):invalid {
  
  outline: 2px solid red;
}
