body {
  margin: 0;
}

header {
  padding: 20px 0 138px 0;
  background: url("../img/desktop_bacgrd-img.png") center center;
  background-size: cover;
}

nav {
  margin-bottom: 40px;
}

.navigation-buttons {
  margin-bottom: 110px;
}

.navigation-btn {
  font-family: "Montserrat-Bold", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  padding: 8px 14px;
  border: 2px solid rgba(0, 0, 0, 0);
  background: none;
  cursor: pointer;
  outline: none;
}

.navigation-btn:hover {
  border: 2px solid #ffffff;
  border-radius: 35px;
}

.head-emblem {
  text-decoration: none;
  margin: 0;
  text-align: center;
  font-family: "Montserrat-Bold", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.information-block-headline {
  margin: 0 auto;
  margin-bottom: 14px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat-Bold", Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
}

.information-block-text {
  margin: 0 auto;
  padding: 0 4px 0 4px;
  text-align: center;
  font-family: "Roboto-300", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #e5d3ce;
  margin-bottom: 16px;
}

.information-block-btn {
  display: block;
  margin: 0 auto;
  background-color: #ff4e50;
  border: 1px solid #ff4e50;
  border-radius: 20px;
  text-align: center;
  padding: 12px 48px;
  font-family: "Montserrat-Bold", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  cursor: pointer;
  outline: none;
}

main {
  padding: 66px 0 56px 0;
}

.partners-headline {
  margin: 0 auto;
  margin-bottom: 12px;
  font-family: "Montserrat-Bold", Arial, sans-serif;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.partners-box {
  margin-bottom: 28px;
}

.partners-box-img {
  position: relative;
  margin-bottom: 20px;
}

.partners-box-img::after {
  content: "";
  position: absolute;
  padding: 16px 16px;
  border-radius: 32px;
  transform: translateX(135px);
  bottom: 0;
  border: 4px solid #fff;
}

.partners-box-img-TV::after {
  background: url(../img/icon/TV.png) center center;
  background-repeat: no-repeat;
  background-color: #ff4e50;
}

.partners-box-img-flask::after {
  background: url(../img/icon/flask.png) center center;
  background-repeat: no-repeat;
  background-color: #ffa507;
}

.partners-box-img-coffe::after {
  background: url(../img/icon/coffe.png) center center;
  background-repeat: no-repeat;
  background-color: #1cd7ad;
}

.partners-box-img-telegram::after {
  background: url(../img/icon/telegram.png) center center;
  background-repeat: no-repeat;
  background-color: #4e73db;
}

.partners-img {
  display: block;
  margin: 0 auto;
  border-radius: 60px;
}

.partners-name,
.partners-bio {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.partners-name {
  font-family: "Montserrat-Bold", Arial, sans-serif;
  margin-bottom: 14px;
}

.partners-bio {
  font-family: "Roboto-300", Arial, sans-serif;
  color: #666666;
}

.partners-search {
  display: block;
  margin: 0 auto;
  font-family: "Montserrat-Bold", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #ff4e50;
  padding: 10px 66px;
  border: 2px solid #ff4e50;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}

@media (min-width: 768px) {
  header {
    padding: 38px 0 234px 0;
  }

  nav {
    width: 670px;
    margin-bottom: 142px;
  }

  .navigation-buttons {
    margin: 0;
  }

  .head-emblem {
    margin: 0;
  }

  .information-block-headline {
    font-size: 52px;
    line-height: 66px;
    margin-bottom: 30px;
  }

  .information-block-text {
    font-size: 24px;
    margin-bottom: 34px;
  }

  .information-block-btn {
    padding: 12px 22px;
    border-radius: 22px;
  }

  main {
    padding-bottom: 40px;
  }

  .partners-block {
    margin-bottom: 36px;
  }

  .partners-box-img::after {
    transform: translateX(180px);
  }

  .partners-headline {
    margin-bottom: 28px;
  }

  .partners-box {
    margin: 0;
  }

  .partners-box:nth-child(2n+1) {
    margin-bottom: 56px;
  }

  .partners-bio {
    padding: 0 46px 0 46px;
  }

  .partners-search {
    padding: 12px 28px;
  }
}

@media (min-width: 1024px) {
  header {
    padding: 38px 0 234px 0;
  }

nav {
  width: 940px;
}

  .information-block-text {
    font-size: 24px;
    line-height: 28px;
  }

  main {
    padding-bottom: 72px;
  }

  .partners-column-box:first-of-type {
    margin-right: 20px;
  }

  .partners-column-box {
    display: flex;
    flex-direction: row;
    margin-right: 0;
  }

  .partners-box {
    width: 220px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .partners-box-img::after {
    transform: translateX(135px);
  }

  .partners-box:first-of-type {
    margin-bottom: 0;
  }

  .partners-box:last-of-type {
    margin-right: 0;
  }

  .partners-bio {
    padding: 0 2px 0 2px;
  }
}
