body {
  margin: 0;
}

header {
  padding: 20px 0 138px 0;
  width: 100%;
  background: url("../img/desktop_bacgrd-img.png") center center;
  background-size: cover;
}

nav {
  margin: 0 auto 40px auto;
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content:center;
  align-items: center;
}

.navigation-buttons {
margin-bottom: 110px;
}

.navigation-btn {
  margin: 0;
  font-family: "Montserrat-Bold", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  padding: 8px 14px;
  background: none;
  border: 2px solid rgba(0, 0, 0, 0);
  cursor: pointer;  
  outline: none;
}

.navigation-btn:hover {
  border: 2px solid #ffffff;
  border-radius: 35px;
  outline: none;
}

.head-emblem {
  margin: 0;
  text-decoration: none;
  font-family: "Montserrat-Bold", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.information-block {
  width: 280px;
  margin: 0 auto;
}

.information-block-headline {
  margin: 0 0 14px 0;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat-Bold", Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
}

.information-block-text {
  width: 230px;
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto-300", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #e5d3ce;
  margin-bottom: 16px;
}

.information-block-btn {
  background-color: #ff4e50;
  border: 1px solid #ff4e50;
  border-radius: 20px;
  text-align: center;
  padding: 12px 48px;
  font-family: "Montserrat-Bold", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  cursor: pointer;
  outline: none;
}

main {
  padding-top: 66px;
  padding-bottom: 56px;
}

.partners {
  width: 280px;
  margin: 0 auto;
}

.partners-headline {
  margin: 0 0 12px 0;
  font-family: "Montserrat-Bold", Arial, sans-serif;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.partners-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.partners-box {
  width: 220px;
  margin-bottom: 28px;
}

.partners-box-img {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

.partners-box-img-after::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  transform: translateX(50px);
  bottom: 0;
  border: 4px solid #fff;
}

.partners-box-img-TV::after {
  background: url(../img/icon/TV.png) center center;
  background-repeat: no-repeat;
  background-color: #ff4e50;
}

.partners-box-img-flask::after {
  background: url(../img/icon/flask.png) center center;
  background-repeat: no-repeat;
  background-color: #ffa507;
}

.partners-box-img-coffe::after {
  background: url(../img/icon/coffe.png) center center;
  background-repeat: no-repeat;
  background-color: #1cd7ad;
}

.partners-box-img-telegram::after {
  background: url(../img/icon/telegram.png) center center;
  background-repeat: no-repeat;
  background-color: #4e73db;
}

.partners-img {
  display: block;
  border-radius: 60px;
}

.partners-name,
.partners-bio {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.partners-name {
  font-family: "Montserrat-Bold", Arial, sans-serif;
  margin-bottom: 14px;
}

.partners-bio {
  padding: 0 2px 0 2px;
  font-family: "Roboto-300", Arial, sans-serif;
  color: #666666;
}

.partners-search {
  font-family: "Montserrat-Bold", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #ff4e50;
  padding: 10px 71px;
  border: 2px solid #ff4e50;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}

@media (min-width: 670px) {

  header {
    padding: 38px 0 234px 0;
  }

  nav {
    margin: 0 auto;
    margin-bottom: 142px;
    width: 670px;
    justify-content: space-between;
  }

  .navigation-buttons {
    margin: 0;
  }

  .head-emblem {
    margin: 0;
  }

  .information-block {
    width: 490px;
  }

  .information-block-headline {
    font-size: 52px;
    line-height: 66px;
    margin-bottom: 20px;
  }

  .information-block-text {
    width: inherit;
    margin-bottom: 34px;
  }

  .information-block-btn {
   display: block;
   margin: 0 auto;
    padding: 12px 22px;
    border-radius: 22px;
  }

  main {
    padding-bottom: 40px;
  }

  .partners {
    width: 490px;
  }

  .partners-block {
    margin-bottom: 36px;
    justify-content: space-around;
  }

  .partners-headline {
    margin-bottom: 28px;
  }


  .partners-box-1, .partners-box-3 {
      margin-bottom: 56px;
  }

  .partners-search {
    display: block;
    margin: 0 auto;
    padding: 12px 28px;
  }

  .partners-box-2 {
    order: 3;
  }

  .partners-box-3 {
    order: 2;
  }

  .partners-box-4 {
    order: 4;
  }

}

@media (min-width: 1024px) {
  
  nav {
    width: 940px;
  }

  .information-block-text {
    font-size: 24px;
    line-height: 28px;
  }

main {
    padding-bottom: 72px;
}

  .partners {
    width: 940px;
  }

  .partners-column-box:first-of-type {
    margin-right: 20px;
  }

  .partners-column-box {
    display: flex;
    flex-direction: row;
    margin-right: 0;
  }

  .partners-box {
    margin-bottom: 0;
  }

  .partners-box:first-of-type {
    margin-bottom: 0;
  }

  .partners-box:last-of-type {
    margin-right: 0;
  }

}
