@font-face {
    font-family: "Roboto-Black";
    src: url("/goit-fe-course/html-css/module-4/fonts/Roboto-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Roboto-Light";
    src: url("/goit-fe-course/html-css/module-4/fonts/Roboto-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSans-Bold";
    src: url("/goit-fe-course/html-css/module-4/fonts/OpenSans-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Pe-icon-7-stroke";
    src: url("/goit-fe-course/html-css/module-4/fonts/Pe-icon-7-stroke.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}