 body {
  margin: 0;
}

header {
  padding: 60px 8px 80px;
}

ul{
  margin: 0 auto;
  padding: 0;
  font-size: 0;
  width: 800px;
}

li {
  display: inline-block;
  width: 180px;
  list-style: none;
  text-align: center;
  margin-right: 10px;
}

li:last-child {
    margin-right: 0;
}

a {
  display: block;
  padding: 5px;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "PlayfairDisplay", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #626262;
}

a:hover {
  color: #1abc9c;
}

main {
  margin: 0 auto;
  width: 900px;
  padding: 10px;
}

section {
  list-style: none;
  font-size: 0;
  margin: 0 0 130px 0;
}
section:last-of-type {
    margin-bottom: 52px;
}

.information-list-item {
  display: inline-block;
  width: 420px;
  margin: 0 40px 0 0;
}

.information-list-item:last-child {
    margin-right: 0;
}

img {
    display: block;
    margin-bottom: 30px;
}

h3 {
  margin: 0 0 26px 0;
  font-family: "Ubuntu-Light", Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #b4ad9e;
  font-weight: lighter;
}

.headline {
  font-family: "PlayfairDisplay", Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  margin: 0 0 32px 0;
}

.article-text { 
  font-family: "PlayfairDisplay", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.headline,
.article-text {
  color: #626262;
}

button {
    display: block;
    background-color: white;
    margin: 0 auto;
    width: 160px;
    padding: 16px;
    border: 1px solid #626262;
    font-size: 20px;
    line-height: 24px;
}
